<h1>All Doors</h1>

<% @doors.each do |door| %>
  <article>
    <p>Door #<%= door.id %></p>
    <%= link_to "Open Door", door_path(door) %>
  </article>
<% end %>

<div>
  <%= link_to "Build a New Door", new_door_path  %>
</div>